/**

Theme: wp-jtiong
Author: Johnathan Tiong
Description: JT's personal blog theme
Version: 1.0

**/

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #1c1c25;
}

.container {
    padding: 0 15px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
    background-color: #242424;
    padding: 5px;
    border-radius: 5px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.text-author {
    color: #ff2020!important;
}

.text-project {
    color: #ffcc00!important;
}

/* 
 * WORDPRESS IMAGE STUFF
 */
.wp-lightbox-overlay .scrim {
    background: rgba(0, 0, 0, 0.65) !important;
}

.wp-block-image img {
    border: 1px solid #3e3e3e;
}

/* 
 * NAVBARS
 */
#topNav {
    z-index: 100;
}
    #topNav a {
        text-decoration: none;
    }

    #topNav .dropdown-menu {
        z-index: 300 !important;
    }

#mainNav {
    z-index: 200;
}

#blogMenu {
    background-color: #303037;
    z-index: 10;
}

.bg-jtSnax {
    background-color: #15151e;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-top: 41px !important;
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23777'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e")
}

/**
 wordpress specific styling for wp-jtiong
**/

.entry {
    color: #777;
    font-size: small;
}
.entry-meta a, .entry-footer a {
    color: #999;
}
    .entry-meta a:hover, .entry-footer a:hover {
        color: #eee;
    }

.entry-title {
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
    /* font-weight: 900; */
}

.entry-title a {
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
    /* font-weight: 900; */
    text-decoration: none !important;
    color: #0099ff;
}
    .entry-title a:hover {
        color: #e5f5ff;
    }

.entry-body {
    color: #fff;
    font-weight: 300;
}

    .entry-body a {
        color: #96aff4;
        font-weight: bold;
    }
        .entry-body a:hover {
            color: #c3d0f5;
        }

    h2.wp-block-heading {
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
    }

    h3.wp-block-heading {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
    }

    hr.wp-block-separator {
        border-top: 1px #666 dashed;
    }

    .wp-element-caption {
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
        font-style: normal;
        font-size: small;
        color: #777;
    }

.entry-footer {
    padding-bottom: 32px;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 464px;
}

.prevPostButton a {
    text-decoration: none;
    color: #fff;
}

.nextPostButton a {
    text-decoration: none;
    color: #fff;
}

/**
 * SIDEBAR
 */
.sidebar {
    top: 76px; 
    z-index: 1;
}
    .sidebarGames {
        top: 64px; 
        z-index: 1;
    }

.accordion-button-icon::after {
    font-family: "bootstrap-icons";
    content: "\F4FD"; /* plus */
    color: #777;
}

.accordion-button-icon:not(.collapsed)::after {
    content: "\F2E9"; /* dash */
}

.currentCat {
    color: #fff;
    font-weight: bold;
}

.catLink {
    color: #96aff4;
}
    .catLink:hover {
        color: #cddafc;
    }

.tag-cloud-link {
    color: #96aff4;
}
    .tag-cloud-link:hover {
        color: #cddafc;
    }

/**
 * FOOTER
 */
.footer {
    margin-top: 32px;
    background-color: #303037;
}