/**

Theme: wp-jtiong
Author: Johnathan Tiong
Description: JT's personal blog theme
Version: 1.0

**/

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 0 15px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
    background-color: #242424;
    padding: 5px;
    border-radius: 5px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.text-author {
    color: #ff2020!important;
}

.text-project {
    color: #ffcc00!important;
}

.mainContent {
    padding-top: 128px;
}

/**
 wordpress specific styling for wp-jtiong
**/

.entry {
    color: #777;
    font-size: small;
}
.entry-title {
    font-weight: bolder;
}

.entry-body {
    color: #ccc;
}
    h2.wp-block-heading {
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
    }

    h3.wp-block-heading {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
    }

    hr.wp-block-separator {
        border-top: 1px #666 dashed;
    }

    .wp-element-caption {
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
        font-style: italic;
        font-size: small;
        color: #777;
    }

.entry-footer {
    padding-bottom: 64px;
}

.sticky-top {
    top: 128px;
}
